<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <section id="blog">
        <div class="container py-20 px-4">
          <div class="text-center mx-auto mb-20 md:w-1/2">
            <h4 class="font-bold text-secondary mb-4">Innovation And Quality Improvement</h4>
            <h1 class="title">Latest Updates, Solutions And Company News</h1>
          </div>

          <div class="grid mx-2 gap-5 md:grid-cols-2 lg:grid-cols-3">
            <!-- card 1 -->
            <div>
              <div class="lg:h-[40vh] rounded-xl scale-100 overflow-hidden">
                <img src="img/blog/1.jpg" alt="" class="lg:h-full w-full hover:scale-125 transition ease-in-out duration-300" />
              </div>

              <div>
                <div class="flex items-center gap-5 py-5">
                  <p>20 August 2022</p>
                  <p>1 min read</p>
                </div>

                <a href="#blog" class="text-2xl font-bold underline hover:text-secondary hover:no-underline">Four ways cheer yourself up on blue monday!</a>

                <p class="leading-relaxed my-5">On the second edition of serious business, inc. editor jim ledbetter and fusion senior editor salmon debate...</p>

                <a href="#blog" class="inline-block font-bold hover:text-secondary transition duration-300 ease-in-out"><span class="tracking-wider capitalize">read more</span></a>
              </div>
            </div>

            <!-- card 2 -->
            <div>
              <div class="lg:h-[40vh] rounded-xl scale-100 overflow-hidden">
                <img src="img/blog/2.jpg" alt="" class="lg:h-full w-full hover:scale-125 transition ease-in-out duration-300" />
              </div>

              <div>
                <div class="flex items-center gap-5 py-5">
                  <p>20 August 2022</p>
                  <p>1 min read</p>
                </div>

                <a href="#blog" class="text-2xl font-bold underline hover:text-secondary hover:no-underline">How to organize your budget for maximum productivity?</a>

                <p class="leading-relaxed my-5">Global provider connected products for consumer, and enterprises worldwide, supply chain control is everything...</p>

                <a href="#blog" class="inline-block font-bold hover:text-secondary transition duration-300 ease-in-out"><span class="tracking-wider capitalize">read more</span></a>
              </div>
            </div>

            <!-- card 3 -->
            <div>
              <div class="lg:h-[40vh] rounded-xl scale-100 overflow-hidden">
                <img src="img/blog/3.jpg" alt="" class="lg:h-full w-full hover:scale-125 transition ease-in-out duration-300" />
              </div>

              <div>
                <div class="flex items-center gap-5 py-5">
                  <p>20 August 2022</p>
                  <p>1 min read</p>
                </div>

                <a href="#blog" class="text-2xl font-bold underline hover:text-secondary hover:no-underline">Should small business be entitled to system</a>

                <p class="leading-relaxed my-5">our team provides skilled & experienced managers who know the intricacies of this vertical and focus...</p>

                <a href="#blog" class="inline-block font-bold hover:text-secondary transition duration-300 ease-in-out"><span class="tracking-wider capitalize">read more</span></a>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>