<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing</title>
    <link rel="shortcut icon" type="image/png" href="https://ik.imagekit.io/mshcgnjju/image.png?updatedAt=1710462047544" />
</head>
<body>
    <section id="pricing" class="bg-primarylight">
        <div class="container py-20 px-4">
          <div class="text-center mx-auto mb-20 md:w-1/2">
            <h4 class="font-bold text-secondary mb-4">Pricing</h4>
            <h1 class="title">Get in Reasonable Price</h1>
            <!-- rounded swicth -->
            <div class="mt-5 flex items-center justify-center gap-3">
              <span class="text-base font-semibold">Bill Monthly</span>
              <input type="checkbox" class="hidden" id="toggleBtn" />
              <label for="toggleBtn">
                <div class="bg-btn flex h-6 w-12 items-center cursor-pointer rounded-full bg-slate-800">
                  <div class="toggle-circle h-5 w-5 rounded-full bg-slate-100 ease-in duration-200"></div>
                </div>
              </label>
              <span class="text-base font-semibold">Bill Anually</span>
            </div>
          </div>

          <div class="grid gap-5 md:grid-cols-2 lg:grid-cols-3">
            <!-- card 1 -->
            <div class="card relative h-auto w-auto">
              <!-- front side -->
              <div id="card_1_front" class="front px-5 py-8 rounded-2xl border-2 border-gray h-full w-full">
                <div class="relative">
                  <p class="text-6xl pl-2 font-bold before:content-['$'] before:absolute before:text-sm before:top-0 before:left-0">50<span class="text-sm font-normal tracking-widest">/per month</span></p>
                </div>

                <div class="py-10">
                  <h3 class="text-xl font-bold pb-3">Basic</h3>
                  <p class="leading-relaxed">For Beginner Who Want To Scale Business Globaly</p>
                </div>
                <ul class="space-y-4 pb-10">
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">Expense Management</span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">Card Management</span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-gray"></i>
                    <span class="pl-4">instant Statistics </span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-gray"></i>
                    <span class="pl-4">Bookmark Function</span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-gray"></i>
                    <span class="pl-4">Accounting System</span>
                  </li>
                </ul>

                <button class="card_btn">Get Started</button>
              </div>

              <!-- back side -->
              <div id="card_1_back" class="back rotate-y-180  px-5 py-8 rounded-2xl border-2 border-gray h-full w-full absolute top-0 left-0">
                <div class="relative">
                  <p class="text-6xl pl-2 font-bold before:content-['$'] before:absolute before:text-sm before:top-0 before:left-0">120<span class="text-sm font-normal tracking-widest">/per month</span></p>
                </div>

                <div class="py-10">
                  <h3 class="text-xl font-bold pb-3">Basic</h3>
                  <p class="leading-relaxed">For Beginner Who Want To Scale Business Globaly</p>
                </div>
                <ul class="space-y-4 pb-10">
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">Expense Management</span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">Card Management</span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">instant Statistics </span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-gray"></i>
                    <span class="pl-4">Bookmark Function</span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-gray"></i>
                    <span class="pl-4">Accounting System</span>
                  </li>
                </ul>

                <button class="card_btn">Get Started</button>
              </div>
            </div>
            <!-- card 2 -->
            <div class="card relative h-auto w-auto">
              <!-- front side -->
              <div id="card_2_front" class="front px-5 py-8 rounded-2xl border-2 border-gray h-full w-full">
                <div class="relative">
                  <p class="text-6xl pl-2 font-bold before:content-['$'] before:absolute before:text-sm before:top-0 before:left-0">70<span class="text-sm font-normal tracking-widest">/per month</span></p>
                </div>

                <div class="py-10">
                  <h3 class="text-xl font-bold pb-3">Standard</h3>
                  <p class="leading-relaxed">For Beginner Who Want To Scale Business Globaly</p>
                </div>
                <ul class="space-y-4 pb-10">
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">Expense Management</span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">Card Management</span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">instant Statistics </span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-gray"></i>
                    <span class="pl-4">Bookmark Function</span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-gray"></i>
                    <span class="pl-4">Accounting System</span>
                  </li>
                </ul>

                <button class="card_btn">Get Started</button>
              </div>

              <!-- back side -->
              <div id="card_2_back" class="back rotate-y-180 px-5 py-8 rounded-2xl border-2 border-gray h-full w-full absolute top-0 left-0">
                <div class="relative">
                  <p class="text-6xl pl-2 font-bold before:content-['$'] before:absolute before:text-sm before:top-0 before:left-0">200<span class="text-sm font-normal tracking-widest">/per month</span></p>
                </div>

                <div class="py-10">
                  <h3 class="text-xl font-bold pb-3">Standard</h3>
                  <p class="leading-relaxed">For Beginner Who Want To Scale Business Globaly</p>
                </div>
                <ul class="space-y-4 pb-10">
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">Expense Management</span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">Card Management</span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">instant Statistics </span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">Bookmark Function</span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-gray"></i>
                    <span class="pl-4">Accounting System</span>
                  </li>
                </ul>

                <button class="card_btn">Get Started</button>
              </div>
            </div>
            <!-- card 3 -->
            <div class="card relative h-auto w-auto">
              <!-- front side -->
              <div id="card_3_front" class="front px-5 py-8 rounded-2xl border-2 border-gray h-full w-full">
                <div class="relative">
                  <p class="text-6xl pl-2 font-bold before:content-['$'] before:absolute before:text-sm before:top-0 before:left-0">100<span class="text-sm font-normal tracking-widest">/per month</span></p>
                </div>

                <div class="py-10">
                  <h3 class="text-xl font-bold pb-3">Basic</h3>
                  <p class="leading-relaxed">For Beginner Who Want To Scale Business Globaly</p>
                </div>
                <ul class="space-y-4 pb-10">
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">Expense Management</span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">Card Management</span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">instant Statistics </span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-gray"></i>
                    <span class="pl-4">Bookmark Function</span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-gray"></i>
                    <span class="pl-4">Accounting System</span>
                  </li>
                </ul>

                <button class="card_btn">Get Started</button>
              </div>

              <!-- back side -->
              <div id="card_3_back" class="back rotate-y-180 px-5 py-8 rounded-2xl border-2 border-gray h-full w-full absolute top-0 left-0">
                <div class="relative">
                  <p class="text-6xl pl-2 font-bold before:content-['$'] before:absolute before:text-sm before:top-0 before:left-0">500<span class="text-sm font-normal tracking-widest">/per month</span></p>
                </div>

                <div class="py-10">
                  <h3 class="text-xl font-bold pb-3">Premium</h3>
                  <p class="leading-relaxed">For Beginner Who Want To Scale Business Globaly</p>
                </div>
                <ul class="space-y-4 pb-10">
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">Expense Management</span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">Card Management</span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">instant Statistics </span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">Bookmark Function</span>
                  </li>
                  <li>
                    <i class="las la-bookmark text-2xl text-secondary"></i>
                    <span class="pl-4">Accounting System</span>
                  </li>
                </ul>

                <button class="card_btn">Get Started</button>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>